@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --bg-color-1:#21242a;
    --bg-color-2:#0d0f14;
    --border-color:#2b2d30;
    --accent-color-1:#30343d;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin:0;
    overflow:hidden;
}

#parent-window{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    background:var(--bg-color-1);
}

#language-divs{
    width:384px;
    height:100vh;
    border-right:1px solid var(--border-color);
}

.language-div{
    width:100%;
    height:calc(100vh / 3);
}

.language-div > div:first-of-type{
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    width:calc(100% - 24px);
    height:28px;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:12px;
    color:white;
    font-weight:600;
    gap:6px;
    padding:0 12px;
}

.language-div > div:first-of-type > img{
    height:20px;
}

.language-div > div:first-of-type > p{
    margin-right:12px;
}

.language-div > div:first-of-type > button{
    height:20px;
    background:var(--accent-color-1);
    color:lightgray;
    text-transform:uppercase;
    font-weight:700;
    border:none;
    border-radius:5px;
    padding:0 8px;
    font-size:12px;
    cursor:pointer;
}

#language-div-header-1{
    background: rgb(30,31,34);
    background: linear-gradient(90deg, rgba(30,31,34,1) 70%, rgba(240,150,1,1) 200%);
}

#language-div-header-2{
    background: rgb(30,31,34);
    background: linear-gradient(90deg, rgba(30,31,34,1) 70%, rgba(8,130,222,1) 200%);
}

#language-div-header-3{
    background: rgb(30,31,34);
    background: linear-gradient(90deg, rgba(30,31,34,1) 70%, rgba(247,223,30,1) 200%);
}

.editor{
    background:var(--bg-color-2) !important;
    white-space: pre;
    color:lightgray;
    border:none;
    width:calc(100% - 5px);
    height:calc(100vh / 3 - 33px);
    resize:none;
    outline:none;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size:13px;
}

#output{
    width:calc(100vw - 386px);
    border:none;
    background:white;
    height:100vh;
}